<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa">
    
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="initial_z" default="0.0"/>   
    
    <link name="world"/>

    <xacro:include filename="$(find iiwa_fri_description)/urdf/iiwa14.xacro"/>

    <xacro:arg name="robot_name" default="iiwa"/>
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

    <joint name="$(arg robot_name)_world_joint" type="fixed">
        <parent link="world"/>
        <child link="$(arg robot_name)_link_0"/>
        <origin xyz="0.0 0.0 0.006" rpy="0.0 0.0 ${pi/2}"/>
    </joint>
    
    <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)">
    </xacro:iiwa14>


</robot>
